<div class="span12"><h3>{{title}}</h3></div>

<table >
        <tr><td width="5%">Project</td><td>:</td><td valign="middle"> <select id="projectId">
                                                                          {{#each project}}
                                                                              <option value="{{id}}">{{name}}</option>
                                                                          {{/each}}
                                                                          </select>

        </td></tr>

	    <tr><td width="13%">Summary</td><td>:</td><td valign="middle"><input type='text' id='summary' name="summary" placeholder="Project Summary" maxlength="40"/></td></tr>
	    <tr><td width="13%">Description</td><td>:</td><td valign="middle"><input type='text' id='description' name="description" placeholder="Project Description" maxlength="40"/></td></tr>

	    <tr><td width="5%">Type</td><td>:</td><td valign="middle">
	        <select id='type' >
              <option value="BUG">Bug</option>
              <option value="QUERY">Query</option>
              <option value="FEATURE">Feature</option>
            </select>

	    </td></tr>
	    <tr><td width="5%">Priority</td><td>:</td><td valign="middle">
	        <select id="priority">
	        <option value="HIGHEST">Highest</option>
             <option value="HIGH">High</option>
             <option value="NORMAL">Normal</option>
             <option value="LOW">Low</option>
           </select>

        <tr><td width="5%">status</td><td>:</td> <td valign="middle">
            <select id="status">
               <option value="OPEN">Open</option>
               <option value="RESOLVED">Resolved</option>
               <option value="INPROGRESS">In Progress</option>
             </select>
        <tr><td width="10%">assignee</td><td>:</td><td valign="middle"><input type='text' id='assignee' name="assignee" placeholder="Assignee" maxlength="40"/></td></tr>
        <tr><td width="5%">version</td><td>:</td><td valign="middle">
        <select id='version'></select>
        <tr><td width="5%">SEVERITY</td><td>:</td><td valign="middle">
            <select id="severity">
               <option value="BLOCKER">Blocker</option>
               <option value="CRITICAL">Critical</option>
               <option value="TRIVIAL">Trivial</option>
               <option value="MINOR">Minor</option>

             </select>
</table>
<input type="button" value="ADD Issue" id="saveMe">

 <script src="http://static.scripting.com/github/bootstrap2/js/jquery.js"></script>

<script type="text/javascript">

            $(document).ready(function() {

                $('#version').find('option').remove();

                            $.ajax({
                                type: 'GET',
                                url: "getProjectVersion.jag",
                                data: {
                                    pid:$("#projectId").attr('value')
                                },
                                success: function(result){
                                   $.each(result.version, function(i, obj) {
                                       $('#version')
                                           .append($("<option></option>")
                                               .attr("value",obj.projectVersionId)
                                               .text(obj.projectVersion));

                                    });
                                },
                                dataType: 'json',
                                async:false
                            });

            });
</script>



