<div class="span12"><h3>{{title}}</h3></div>

<table >
        <tr><td width="5%">Project</td><td>:</td><td valign="middle"> <select id="projectId">
                                                                          {{#each project}}
                                                                              <option value="{{id}}">{{name}}</option>
                                                                          {{/each}}
                                                                          </select>

        </td></tr>

	    <tr><td width="13%">Version</td><td>:</td><td valign="middle"><input type='text' id='version' name="version" placeholder="Version" maxlength="40"/></td></tr>

</table>


<input type="button" value="ADD Version" id="saveMe">


