<div class="row row-white row-footer">
	<div class="span5 pull-right txt-right">
		<ul>
		    <li>
                <a id="" href="pages/issue/getAll.jag">Issue</a>
            </li>
			<li>
				<a id="" href="pages/project/getAll.jag">Project</a>
			</li>
		</ul>

	</div>
</div>
